@import url(style.css);

.header, .footer {
    min-height: 7vh;
    background-color: var(--teal);
    display: flex;
    justify-content: center;
    align-items: center;;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.template {
    text-align: center;
    min-height: 90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}